
<%- include partials/header.ejs %> 

   <%- include partials/main_nav.ejs %> 

      <!-- Main Contain -->
   <main class="container">
    <div class="jumbotron">
    <h1 class="display-4"> Welcome to the <%= title %> page </h1>
    <!--Using Switch case all infornation passed through here-->
      <% switch (title) {
        case 'Home' : %>
        <%- include partials/home.ejs %>
                <% break;

        case 'About' : %>
        <%- include partials/about.ejs %>
                <% break;

        case 'Products' : %>
        <%- include partials/products.ejs %>
                <% break;
        
        case 'Services' : %>
        <%- include partials/services.ejs %>
                <% break;
        
        case 'Contact' : %>
        <%- include partials/contact.ejs %>
              <% break;
       } %>
      <hr class="my-4">
    </div>
  </main>

   <%- include partials/bottom_nav.ejs %> 
    
    
    <%- include partials/footer.ejs %> 




